<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>アップロード</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>画像のアップロード</h1>
        </div>
        <form action="/uploader" role="form" enctype="multipart/form-data" method="post">
            <input type="hidden" name="userid" value="{{ .UserData.userid }}">
            <div class="form-group">
                <label for="avatar"></label>
                <input id="avatar" type="file" name="avatarFile">
            </div>
            <input type="submit" value="アップロード" class="btn ">
        </form>
    </div>
</body>
</html>